body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

nav,
address {
  font-size: 16px;
}

nav a,
address a {
  color: #2e2f42;
}

nav a:hover,
nav a:focus,
address a:hover,
address a:focus {
  color: #404bbf;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
}

main > section:first-child {
  background-color: #2e2f42;
  text-align: center;
}

main > section:first-child h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
}

main > section:first-child button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

main > section:first-child button:hover,
main > section:first-child button:focus {
  background-color: #404bbf;
}

main h2 {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
}

main h3 {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

main p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-color: #2e2f42;
}

footer a {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
}

footer p {
  color: #f4f4fd;
}